<div class="devise">
  <h2>Regístrate</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="col">
        <div class="field">
          <%= f.label :given_name, raw('Nombre'), class: 'sr-only' %>
          <%= f.text_field :given_name, autofocus: true, placeholder: 'Nombre', class: 'txt-input' %>
        </div>
      </div>
      <div class="col">
        <div class="field">
          <%= f.label :last_name, raw('Apellido'), class: 'sr-only' %>
          <%= f.text_field :last_name, placeholder: 'Apellido', class: 'txt-input' %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :institutional_id, raw("Matrícula o número de empleado"), class: "sr-only" %>
      <%= f.text_field :institutional_id, placeholder: raw("Matrícula o número de empleado"), class: "txt-input" %>
    </div>
    <div class="field email-container has-ico">
      <%= f.label :email, raw("Correo electrónico"), class: "sr-only" %>
      <%= f.email_field :email, autocomplete: "email", placeholder: raw("Correo electrónico (itesm.mx ó tec.mx)"), class: "email txt-input" %>
    </div>
    <div class="field password-container has-ico">
      <%= f.label :password, "Contraseña", class: "sr-only" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Contraseña", class: "password txt-input" %>
      <% if @minimum_password_length %>
        <em class="min-length">(<%= @minimum_password_length %> caracteres raw(mínimo))</em>
      <% end %>
    </div>

    <div class="field password-container has-ico">
      <%= f.label :password_confirmation, "Confirma tu contraseña", class: "sr-only" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirma la contraseña", class: "password txt-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Enviar", class: 'submit highlight btn white' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
