<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title"> <%= content_for(:title) %> </h1>

  <div>
    <%= link_to(
      "Edit",
      [:edit, namespace, page.resource],
      class: "button",
        ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<section class="main-content__body EquipmentShow">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="card ProfileCard">
          <%= (image_tag page.resource.image, class: "equipment-image") unless page.resource.image.empty? %>
          <div class="card-body">
            <h1 class="main-content__page-title"><%= page.resource.name %></h1>
            <p class="content-label" style="margin-top: 15px">Available hours</p>
            <table class="availableHourTable">
              <tbody>
                <% page.resource.available_hours.each do | ah | %>
                  <tr>
                    <td><strong><%= ah.day_of_week %></strong></td>
                    <td><%= ah.start_time.in_time_zone('America/Monterrey').to_formatted_s(:time) %> - <%= ah.end_time.in_time_zone('America/Monterrey').to_formatted_s(:time) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <p class="content-label">Description</p>
            <p class=""><%= page.resource.description %></p>
            <p class="content-label">Technical Specification</p>
            <p class=""><%= page.resource.technical_description %></p>
          </div>
        </div>
      </div>
      <div class="col-8 rightContentPane">
        <div class="row">
          <div class="col">
            <div class="card ComingUp">
              <div class="card-body">
                <h4 class="card-title">Upcoming Reservations</h4>
                <table class="ReservationTable">
                  <tbody>
                    <% res = page.resource.reservations.confirmed.upcoming(5) %>
                    <% if res.length == 0 %>
                      <p>No upcoming reservations.</p>
                    <% else %>
                      <% res.each do | r |  %>
                        <tr onclick="window.location='<%= admin_reservation_path(r) %>';">
                          <td><%= link_to "#{r.user.given_name} #{r.user.last_name}", admin_user_path(r.user) %></td>
                          <td><%= r.start_time.strftime("%A %d/%m") %></td>
                          <td><%= r.start_time.in_time_zone('America/Monterrey').to_formatted_s(:time) %></td>
                          <td><%= r.end_time.in_time_zone('America/Monterrey').to_formatted_s(:time) %></td>
                          <td><%= r.status %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Materials</h5>
                <ul class="materials-list tagslist inline">
                  <% page.resource.materials.each do | m | %>
                    <li><div class="pill border xsmall"><%= m.name %></div></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Capabilities</h5>
                <ul class="materials-list tagslist inline">
                  <% page.resource.capabilities.each do | c | %>
                    <li><div class="pill border xsmall"><%= c.name %></div></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div id="calendar"></div>
                <div class="row" style="padding:10px 15px 0px">
                  <div class="col-3">
                    <div class="row">
                      <div class="col-1" style="background-color:rgb(220 57 18 / 75%)"></div>
                      <div class="col">
                        Academic
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-1" style="background-color:rgb(16 150 24 / 75%)"></div>
                      <div class="col">
                        Research
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-1" style="background-color:rgb(212 64 179)"></div>
                      <div class="col">
                        Personal
                      </div>
                    </div>
                  </div>
                  <div calss="col">
                    <div class="row">
                      <div class="col-1" style="background-color:rgb(255 153 0 / 75%)"></div>
                      <div class="col">
                        Entrepreneurship
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title">Weekly Usage</h4>
              </div>
            </div>
            <%= javascript_include_tag 'application' %>
            <div id="WeeklyUsage">
              <%= line_chart [{name:"Total", data:page.resource.reservations.confirmed.group_by_day_of_week(:start_time, format: "%a").count},
                              {name:"Academic", data:page.resource.reservations.confirmed.academic.group_by_day_of_week(:start_time, format: "%a").count},
                              {name:"Entrepreneurship", data:page.resource.reservations.confirmed.entrepreneurship.group_by_day_of_week(:start_time, format: "%a").count},
                              {name:"Research", data:page.resource.reservations.confirmed.research.group_by_day_of_week(:start_time, format: "%a").count},
                              {name:"Personal", data:page.resource.reservations.confirmed.personal.group_by_day_of_week(:start_time, format: "%a").count}] %>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="card-title">Hourly Usage</h4>
              </div>
            </div>
            <div id="HourlyUsageDetail">
              <%# Group the reservations by the week day they correspond to and then create graph using the resulting hash %>
              <% weeklyStats = page.resource.reservations.confirmed.group_by{ | res | res.start_time.wday } %>
              <% completeStats = {'7': page.resource.reservations.confirmed}.merge(weeklyStats) %>
              <%# Array used to display the name of the data in the graph %>
              <% weekDays = ['Sunday', 'Monday', 'Tuseday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Total'] %>
              <%= area_chart completeStats.map { | day |
                {name: weekDays[day[0].to_s.to_i], data: day[1].group_by_hour_of_day(format: "%l%P", series: true){ |u| u.start_time }.map { |k, v| [k, v.count] }.to_h}
              } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% @lab_space = @equipment.lab_space # Need to set this so reservation_modal works properly %>
<%= render partial: 'shared/reservation_modal' %>
<%= render partial: 'shared/reservation_detail' %>

<%
  # Only show reservations in the last year to not overload Calendar
  res = @equipment.reservations.where("created_at >= ?", Time.current - 2.year)
  res = res.select { |r| reservation_visible?(r) }

  reservations = []
  res.each do | r |
    reservations.push({
      "id" => r.id,
      "start" => r.start_time,
      "end" => r.end_time,
      "title" => reservation_title(r),
      "color" => reservation_color(r.purpose, r.status),
      "textColor" => reservation_text(r.status)
    })
  end
%>

<% content_for(:javascript) do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"></script>

  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  <script>
    <%= render partial: 'shared/calendar.js', locals: { equipment: @equipment, lab_space: @lab_space, reservations: reservations } %>
  </script>
<% end %>
