<p id="notice"><%= notice %></p>

<h1>Equipment</h1>

<%= form_tag(equipment_index_path, method: :get) do %>
  Equipment <%= text_field_tag :equipment_query, params[:equipment_query] %>
  Materials <%= text_field_tag :materials_query, params[:materials_query] %>
  Capabilities <%= text_field_tag :capabilities_query, params[:capabilities_query] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.description %></td>
        <td><%= equipment.image %></td>
        <td><%= link_to 'Show', [equipment.lab_space.lab, equipment.lab_space, equipment] %></td>
        <td><%= link_to 'Edit', edit_lab_lab_space_equipment_path(equipment.lab_space.lab, equipment.lab_space, equipment) %></td>
        <td><%= link_to 'Destroy', [equipment.lab_space.lab, equipment.lab_space, equipment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @lab_space %>
  <%= link_to 'New Equipment', new_lab_lab_space_equipment_path %>
<% end %>