<%# stylesheet_link_tag "selectize" %>
<%# stylesheet_link_tag "selectize.default" %>
<div class="Resultados">
  <div class="row">
    <div class="col-3">
      <div class="sidebar">
        <h3>Refinar búsqueda</h3>
        <hr>
        <div>
          <label><input type="checkbox" checked name="showtags" id="showtags"> <small>mostrar tags</small></label>
        </div>
        <section class="filter">
          <p class="title">Material</p>
          <select multiple name="materiales" id="select-material">
            <option value="">Materiales</option>
            <% @equipment_scope.materials.each do |m|  %>
              <option value="<%= m.id %>"><%= m.name %></option>
            <% end %>
          </select>
        </section>
        <section class="filter">
          <p class="title">Capacidad</p>
          <select multiple name="capacidades" id="select-capacidad">
            <option value="">Capacidades</option>
            <% @equipment_scope.capabilities.each do |c|  %>
              <option value="<%= c.id %>"><%= c.name %></option>
            <% end %>
          </select>
        </section>
      </div>
    </div>
    <div class="col-9">
      <div class="main">
        <h1 class="maintitle"><%= @query.nil? ? "Equipo disponible" : "Resultados para:" %></h1>
        <h2 class="query"><%= @query %></h2>
        <p id="notice"><%# notice %></p>

        <div class="resultsContainer">
          <% @equipment_scope.each do |equipment| %>
            <article class="SearchResult">
              <h2 class="title mb-3">
                <%= link_to equipment.name, [equipment.lab_space.lab, equipment.lab_space, equipment] %>
                <%= link_to "Reservar", [equipment.lab_space.lab, equipment.lab_space, equipment], class: "ml-5 reserveBtn btn highlight small lp"%>
              </h2>
              <table class="detailsTable">
                <tbody>
                  <tr>
                    <td><strong class="primary">Laboratorio:</strong></td>
                    <td><a href="#"><%= link_to equipment.lab_space.name, lab_lab_space_path(lab_id: equipment.lab_space.lab.id, id: equipment.lab_space.id)  %></a></td>
                  </tr>
                  <tr>
                    <td><strong class="primary">Ubicación:</strong></td>
                    <td><%= equipment.lab_space.location %></td>
                  </tr>
                  <tr>
                    <td><strong class="primary">Horarios:</strong></td>
                    <td><%= equipment.lab_space.hours %></td>
                  </tr>
                  <!--<tr>
                    <td><strong class="primary">Capacitaciones:</strong></td>
                    <td><a href="#">Capacitación 1</a></td>
                  </tr>-->
                </tbody>
              </table>
              <p class="desc"><%= equipment.description %></p>
              <ul class="inline taglist">
                <% equipment.capabilities.each do | c | %>
                  <li><div class="pill gray small"><%= c.name %></div></li>
                <% end %>
                <% equipment.materials.each do | m | %>
                  <li><div class="pill gray small"><%= m.name %></div></li>
                <% end %>
              </ul>
            </article>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# render partial: 'shared/search' %>
</div>
<% content_for :scripts do %>
  <script>
    const $resultDivs = $('article.SearchResult');
    let data = <%= raw(@equipment_scope.as_json(only: [:capabilities, :materials], include:[{capabilities: {only: :id}}, {materials: {only: :id}}]).to_json) %>;
    // Prepare data for easier manipulation (remove object info)
    data = data.map((eq, i) => {
      eq.forindex = i;
      eq.capabilities = eq.capabilities.map(c => c.id);
      eq.materials = eq.materials.map(m => m.id);
      return eq;
    });

    function filterOnCollection(collectionName) {
      return function(collection, selected) { // selected is Array
        return collection.filter(function(item) {
          return selected.every(function(cv) {
            // Check if every selected item is in this results' `collectionName`
            return item[collectionName].indexOf(parseInt(cv, 10)) > -1;
          });
        });
      };
    }

    const filterMaterials = filterOnCollection('materials');
    const filterCapabilities = filterOnCollection('capabilities');

    function filterResults() {
      let materialsQuery = sel1.getValue();
      let capQuery = sel2.getValue();
      const results = filterCapabilities(filterMaterials(data, materialsQuery), capQuery).map(r => r.forindex);;
      $resultDivs.hide();
      results.forEach(function(index) {
        $resultDivs.eq(index).show();
      });
    }

    $("#showtags").on('change', function() {
      if($(this).prop('checked') === true) {
        $('.taglist').show();
      }
      else {
        $('.taglist').hide();
      }
    });

  </script>
  <%# javascript_include_tag "selectize.min" %>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
  <script>
    const opts = {
      sortField: 'text',
      plugins: ['remove_button']
    };
    let $sel1 = $('#select-material').selectize(opts);
    let $sel2 = $('#select-capacidad').selectize(opts);
    let sel1 = $sel1[0].selectize;
    let sel2 = $sel2[0].selectize;
    sel1.on('change', filterResults);
    sel2.on('change', filterResults);
  </script>
<% end %>
