<div class="LabDetail EquipmentDetail">
  <p class="m-0 entitytag"><strong><small>Equipo</small></strong></p>
  <!-- TODO: Not sure if edit should be here; move if necessary-->
  <h1 class="mt-0 displayInBlock"><%= @equipment.name %></h1> <%= link_to 'Editar', edit_admin_equipment_path(@equipment), class: 'btn highlight small editMoveBtn' if policy(@equipment).update? %>
  <section class="Overview">
    <div class="row">
      <div class="col">
        <section class="Detalles">
          <h2 class="mb-3">Detalles</h2>
          <div class="section-body">
            <div class="row">
              <div class="col">
                <table class="detailsTable">
                  <tbody>
                    <tr>
                      <td>Laboratorio:</td>
                      <td><%= link_to @equipment.lab_space.name, lab_lab_space_path(@equipment.lab_space.lab.id, @equipment.lab_space.id) %></td>
                    </tr>
                  </tbody>
                </table>
                <p><%= @equipment.description %></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ul class="taglist inline">
                  <% @equipment.capabilities.each do |c| %>
                    <li><div class="pill gray small"><%= c.name %></div></li>
                  <% end %>
                  <% @equipment.materials.each do | m | %>
                    <li><div class="pill gray small"><%= m.name %></div></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col offset-1">
        <div class="row">
          <section class="equipment-image">
              <%= image_tag @equipment.image unless @equipment.image.empty? %>
          </section>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="mb-2">Especificaciones técnicas</h2>
        <p><%= @equipment.technical_description %></p>
      </div>
    </div>
  </section>
  <section class="Horario">
    <h2>Horario <%= image_tag "icons/calendar.svg", class: 'ico ico-cal' %></h2>
    <p class="mb-5 mt-1">Selecciona en el calendario un rango de tiempo para utilizar el equipo. Posteriormente se te pedirán algunos datos adicionales.</p>
    <div id="calendar"></div>
    <div class="row" style="padding:10px 15px 0px">
      <div class="col-3">
        <div class="row">
          <div class="col-1" style="background-color:rgb(220 57 18 / 75%)"></div>
          <div class="col">
            Academic
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-1" style="background-color:rgb(16 150 24 / 75%)"></div>
          <div class="col">
            Research
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-1" style="background-color:rgb(212 64 179)"></div>
          <div class="col">
            Personal
          </div>
        </div>
      </div>
      <div calss="col">
        <div class="row">
          <div class="col-1" style="background-color:rgb(255 153 0 / 75%)"></div>
          <div class="col">
            Entrepreneurship
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%= render partial: 'shared/reservation_modal' %>
<%= render partial: 'shared/reservation_detail' %>

<%
  # Only show reservations in the last year to not overload Calendar
  res = @equipment.reservations.where("created_at >= ?", Time.current - 1.year)
  res = res.select { |r| reservation_visible?(r) }

  reservations = []
  res.each do | r |
    reservations.push({
      "id" => r.id,
      "start" => r.start_time,
      "end" => r.end_time,
      "title" => reservation_title(r),
      "color" => reservation_color(r.purpose, r.status),
      "textColor" => reservation_text(r.status)
    })
  end
%>

<% content_for(:scripts) do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"></script>

  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  <script>
    <%= render partial: 'shared/calendar.js', locals: { equipment: @equipment, lab_space: @lab_space, reservations: reservations } %>
  </script>
<% end %>
