<main class="LaboratoriosList">
  <div class="container">
    <h1>Laboratorios</h1>

    <p id="notice"><%= notice %></p>

    <section class="searchBar">
      <input type="search" name="q" id="query" placeholder="Buscar..." class="txtinput">
    </section>
    <section class="labList">
      <% if !@labs.blank? %>
        <% @labs.each do |lab| %>
          <%
            tags = Array.new
            lab.lab_spaces.each do | ls | ls.equipment.each do | e |
              tags = tags + e.capabilities.map{|c| c.name}
              tags = tags + e.materials.map{|m| m.name}
            end; end;
            tags.uniq!
          %>
          <article class="labEntry">
            <div class="row">
              <div class="col-10">
                <div class="container">
                  <div class="row pl-3">
                    <h2 class="title"><%= link_to lab.name, lab %></h2>
                  </div>
                  <div class="row no-gutters semibold">
                    <div class="col-2 pl-1">
                      <p class="location mb-2"><%= lab.location %></p>
                    </div>
                    <div class="col-3">
                    <p class="horarios mb-2"><%=  (defined? lab.hours) ? lab.hours : "" %></p>
                    </div>
                  </div>
                  <div class="row">
                    <ul class="taglist inline">
                      <% tags.each do |t| %>
                        <li><div class="pill gray small"><%= t %></div></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <%= link_to 'Ver detalles', lab, class: 'btn border hl small lp' %>
              </div>
            </div>
          </article>
        <% end %>
      <% else %>
        <p class="tac">No labs found</p>
      <% end %>
    </section>
  </div>
</main>
