<div class="LabDetail">
	<%= link_to '&larr; Regresar a los resultados'.html_safe, labs_path %>

	<p class="m-0 mt-5 entitytag"><strong><small>laboratorio</small></strong></p>
	<h1 class="mt-0"><%= @lab.name %></h1>
	<p id="notice"><%= notice %></p>
	<section class="Overview">
		<div class="row">
			<div class="col">
				<section class="Detalles">
					<h2 class="mb-3">Detalles</h2>
					<div class="section-body">
						<div class="row">
							<div class="col-3"><strong>Responsable:</strong></div>
							<div class="col"><p class="mb-1">Dr. Azael Cort&eacute;s Capetillo</p></div>
						</div>
						<div class="row">
							<div class="col-3"><strong>Ubicaci&oacute;n:</strong></div>
							<div class="col"><p>CETEC 2do piso</p></div>
						</div>
						<div class="row">
							<div class="col">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio aspernatur magni numquam soluta quis quasi, asperiores quidem, praesentium in, tempore modi non hic voluptates quod. Veritatis rerum qui possimus labore ipsam eum excepturi. Ut quaerat, pariatur quis doloribus numquam vero. Temporibus debitis animi dolores vero odio impedit dolore quos.</p>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="col offset-1">
				<div class="row">
					<section class="Horarios">
						<h2>Horarios</h2>
						<p>Lunes a Jueves de 9 AM a 5:30 PM</p>
					</section>
				</div>
				<div class="row">
					<section class="Mapa">
						<h2>Mapa</h2>
						<h1 style="color: red">GUGUL MAP</h1>
					</section>
				</div>
			</div>
		</div>
	</section>
	<div class="row"></div>
	<section class="Espacios">
		<h2>Espacios</h2>

		<table class="labspaceTable">
			<thead>
				<tr>
					<th>Espacio</th>
					<th>Descripci&oacute;n</th>
					<th>Responsable</th>
					<th>Horarios</th>
					<th>Reservar</th>
				</tr>
			</thead>
			<tbody>
				<% (1..5).each do |i| %>
					<tr class="LabSpace--listitem">
						<td><a href="#">Espacio #1</a></td>
						<td><a href="#">Lorem ipsum dolor sit amet...</a></td>
						<td>Dra. Alejandra S&aacute;nchez</td>
						<td><a href="#">Ver horarios</a></td>
						<td>
							<div class="d-flex justify-content-end">
								<button class="reserve btn highlight">Reservar</button>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</section>
	<section class="Equipos">
		<h2>Equipo</h2>
		<div class="EquipoGrid hidden">
			<div class="row">
				<div class="col-4">
					<div class="EquipoCard">
						<div class="icon printer"></div>
						<p class="name">Impresora 3D</p>
						<p class="horario">LuJu 12PM - 4PM</p>
					</div>
				</div>
				<div class="col-4">
					<div class="EquipoCard">
						<div class="icon printer"></div>
						<p class="name">Impresora 3D</p>
						<p class="horario">LuJu 12PM - 4PM</p>
					</div>
				</div>
				<div class="col-4">
					<div class="EquipoCard">
						<div class="icon printer"></div>
						<p class="name">Impresora 3D</p>
						<p class="horario">LuJu 12PM - 4PM</p>
					</div>
				</div>
				<div class="col-4">
					<div class="EquipoCard">
						<div class="icon printer"></div>
						<p class="name">Impresora 3D</p>
						<p class="horario">LuJu 12PM - 4PM</p>
					</div>
				</div>
				<div class="col-4">
					<div class="EquipoCard" id="addEquip" style="border: 2px dashed #ACACBC">
						<p class="name tac" style="margin-top: 50px; margin-left: -10px; color: #8E8E9D">+ Agregar un equipo</p>
					</div>
				</div>
			</div>
		</div>
		<div class="EquipoForm" style="margin-top: 0">
			<div class="d-flex justify-content-end">
				<button class="btn highlight medium">Guardar</button>
			</div>
			<form action="#">
				<div class="row firstrow">
					<div class="col-5">
						<div class="uploadPhoto">
							<p class="text"><span class="large">+</span> <br> Agrega una imagen</p>
						</div>
						<input type="file" name="img" id="imginput" class="hidden">
					</div>
					<div class="col-7">
						<div>
							<input type="text" name="name" placeholder="Nombre del equipo" class="txtinput large" id="name">
						</div>
						<div>
							<input type="text" name="desc" placeholder="Descripci&oacute;n" class="txtinput" id="desc">
						</div>
						<div class="row">
							<div class="col">
								<input type="text" placeholder="Capacidades" name="capacidades" id="select-capacidad" class="txtinput">
							</div>
							<div class="col">
								<input type="text" placeholder="Materiales" name="materiales" id="select-material" class="txtinput">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<h3><strong class="bold">Horarios</strong></h3>
						<ul class="scheduleList mt-3">
							<li class="scheduleList-listitem"><i class="ico calendar"></i> Todos los <strong>lunes, jueves</strong> de <strong>2 PM a 5 PM</strong> <a href="#" title="Eliminar horario" class="deleteBtn">&times;</a></li>

							<li class="NewSchedule">
								<p>Todos los
									<select name="day" id="day">
										<option value="0">Diario</option>
										<option value="1">Lunes</option>
										<option value="1">Martes</option>
										<option value="1">Mi&eacute;rcoles</option>
										<option value="1">Jueves</option>
										<option value="1">Viernes</option>
										<option value="1">S&aacute;bado</option>
										<option value="1">Domingo</option>
									</select>
								</p>
								<p class="pl10">de
									<select name="start_hour" id="start_hour">
										<% (6..22).each do |i| %>
											<option value="<%= i %>:00"><%= i %>:00</option>
											<option value="<%= i %>:30"><%= i %>:30</option>
										<% end %>
									</select>
									&nbsp; a &nbsp;
									<select name="end_hour" id="end_hour">
										<% (6..22).each do |i| %>
											<option value="<%= i %>:00"><%= i %>:00</option>
											<option value="<%= i %>:30"><%= i %>:30</option>
										<% end %>
									</select>
									<a href="#" class="btn highlight small ml-5">Guardar</a>
								</p>
								<a href="#" class="cancelBtn"><small>Cancelar</small></a>
							</li>
						</ul>
						<a href="#" class="tac formcta"><span class="plusico">+</span> Agregar horario</a>
					</div>
					<div class="col offset-1">
						<h3><strong class="bold">Capacitaciones</strong></h3>
						<a href="#" class="tac formcta"><span class="plusico">+</span> Agregar capacitaci&oacute;n</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>
<%# stylesheet_link_tag "selectize" %>
<%# stylesheet_link_tag "selectize.default" %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css">
<% content_for(:scripts) do %>
	<script>
		$('.uploadPhoto').click(function() {
			$('#imginput').click();
		});
		$('#addEquip').click(function() {
			$('.EquipoGrid').fadeOut(function() {
				$('.EquipoForm').fadeIn();
			});
		});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
	<%# javascript_include_tag "selectize.min" %>
	<script>
		let capabilities = []; // <%# @capabilities %>
		let materials = []; // <%# @capabilities %>
		for (var i = 0; i < 10; i++) {
			capabilities.push({text: `Capability ${(i+1+"").padStart(2, '0')}`, value: i});
			materials.push({text: `Material ${(i+1+"").padStart(2, '0')}`, value: i});
		}
		$('#select-material').selectize({
			sortField: 'text',
			options: materials
		});
		$('#select-capacidad').selectize({
			sortField: 'text',
			options: capabilities
		});
	</script>

<% end %>
