<div class="LabDetail">
  <%= link_to '&larr; Regresar a los resultados'.html_safe, labs_path %>
  <%
    caps = @capabilities.map { |c| {"text" => c.name, "value" => c.name} }
    mats = @materials.map { |c| {"text" => c.name, "value" => c.name} }
  %>

  <p class="m-0 mt-5 entitytag"><strong><small>Laboratorio</small></strong></p>
  <h1 class="mt-0 displayInBlock"><%= @lab.name %></h1><%= link_to 'Editar', edit_admin_lab_path(@lab), class: 'btn highlight small editMoveBtn' if policy(@lab).update? %>
  <p id="notice"><%= notice %></p>
  <section class="Overview">
    <div class="row">
      <div class="col">
        <section class="Detalles">
          <h2 class="mb-3">Detalles</h2>
          <div class="section-body">
            <div class="row hidden">
              <div class="col-3"><strong style="color: red">Responsable:</strong></div>
              <div class="col"><p class="mb-1">Dr. Azael Cortés Capetillo</p></div>
            </div>
            <div class="row">
              <div class="col-3"><strong>Ubicación:</strong></div>
              <div class="col"><p><%= @lab.location %></p></div>
            </div>
            <div class="row">
              <div class="col">
                <p><%= @lab.description %></p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col offset-1">
        <div class="row hidden">
          <section class="Horarios">
            <h2>Horarios</h2>
            <p style="color: red">Lunes a Jueves de 9 AM a 5:30 PM</p>
          </section>
        </div>
        <div class="row hidden">
          <section class="Mapa">
            <h2>Mapa</h2>
            <h1 style="color: red">MAP</h1>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section class="Espacios">
    <h2 class="displayInBlock">Espacios</h2>
    <%= link_to 'Crear Espacio', new_admin_lab_space_path, class: 'btn highlight small' if policy(LabSpace.new).new?%>
    <table class="labspaceTable">
      <thead>
        <tr>
          <th>Espacio</th>
          <th>Contacto</th>
          <th>Horario</th>
          <th>Reservar</th>
        </tr>
      </thead>
      <tbody>
        <%= render "lab_spaces_tables" %>
      </tbody>
    </table>
  </section>
  <section class="Equipos">
    <h2 class="displayInBlock">Equipos</h2>
    <%= link_to 'Crear Equipo', new_admin_equipment_path, class: 'btn highlight small' if policy(Equipment.new).new?%>
    <div class="EquipoGrid">
      <div class="row">
        <%= render "lab_equipment_tables" %>
      </div>
    </div>
  </section>
</div>

