<main class="LaboratoriosList">
  <div class="container">
    <h1>Espacios</h1>

    <p id="notice"><%= notice %></p>
    <div class="row d-flex justify-content-end">
      <%= link_to '+ Nuevo Espacio de laboratorio', new_admin_lab_space_path, class: 'btn highlight small' if policy(LabSpace.new).new?%>
    </div>

    <section class="searchBar" style="display: none">
      <input type="search" name="q" id="query" placeholder="Buscar..." class="txtinput">
    </section>
    <section class="labList">
      <% if !@lab_spaces.blank? %>
        <% @lab_spaces.each do |lab_space| %>
          <%
            tags = Array.new
            lab_space.equipment.each do | e |
              tags = tags + e.capabilities.map{|c| c.name}
              tags = tags + e.materials.map{|m| m.name}
            end;
            tags.uniq!
          %>
          <article class="labEntry">
            <div class="row">
              <div class="col-10">
                <div class="container">
                  <div class="row pl-3">
                    <h2 class="title"><%= lab_space.name %></h2>
                  </div>
                  <div class="row no-gutters semibold">
                    <div class="col-2 pl-1">
                      <p class="location mb-2"><%= lab_space.location %></p>
                    </div>
                    <% if(defined? lab_space.hours) %>
                    <div class="col-4">
                      <p class="horarios mb-2"><%=  lab_space.hours %></p>
                    </div>
                    <% end %>
                    <% if(defined? lab_space.contact_email || defined? lab_space.contact_phone) %>
                    <div class="col-4">
                      <p class="location mb-2"><%= (defined? lab_space.contact_email) ? lab_space.contact_email : lab_space.contact_phone %></p>
                    </div>
                    <% end %>
                  </div>
                  <div class="row">
                    <ul class="taglist inline">
                      <% tags.each do |t| %>
                        <li><div class="pill gray small"><%= t %></div></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <%= link_to 'Ver detalles', [lab_space.lab, lab_space], class: 'btn border hl small lp' %>
              </div>
            </div>
          </article>
        <% end %>
      <% else %>
        <p class="tac">No se encontraron espacios de laboratorio</p>
      <% end %>
    </section>
  </div>
</main>
