<!DOCTYPE html>
<html>
  <head>
    <title>Makers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= @body_class %>">
    <div class="container pt-5 pb-5">
      <header class="standard header">
        <div class="row">
          <div class="col">
            <a href="/" class="logo">
              <%= image_tag "logo.svg", alt: "Makers program" %>
            </a>
          </div>
          <%= render partial: 'shared/nav' %>
        </div>
        </header>
        <div class="mb-3">
          <%= render_breadcrumbs %>
        </div>
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <%= yield(:scripts) if content_for?(:scripts)  %>
  </body>

    <% flash.discard %>
</html>
